/*
 Theme Name:   ReConstruction Child
 Theme URI:    http://reconstruction.bold-themes.com
 Description:  ReConstruction Child Theme
 Author:       BoldThemes
 Author URI:   http://bold-themes.com
 Template:     reconstruction
 Version:      1.1.3
 Tags:         one-column, right-sidebar, fluid-layout, responsive-layout, custom-menu, featured-images, sticky-post, theme-options, threaded-comments, translation-ready
 Text Domain:  bt_theme_child
*/


/* =Theme customization starts here
-------------------------------------------------------------- */